{% extends "layout.html" %}
{% block body %}
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Slika</th>
            <th scope="col">Korisničko ime</th>
            <th scope="col">Tip</th>
            <th scope="col">OIB</th>
            <th scope="col">Županija</th>
            <th scope="col">Ocjena</th>
            <th scope="col">Ocijeni</th>
            <th scope="col">Akcija</th>
            <th scope="col">Poruka</th>
          </tr>
        </thead>
        <tbody>
          {%for centar in centri %}
          <div class="modal fade" id="ocjeniModal{{centar._id}}" tabindex="-1" role="dialog" aria-labelledby="ocjeniModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="{{url_for('centri.ocijeniOpg', opg_id = centar._id)}}" method=POST>
                  <div class="modal-header">
                    <h5 class="modal-title" id="ocjeniModalLabel">Ocijeni korinsika</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    
                    {% for ocjena in ocjene %}
                    {% if ocjena.id == centar._id %} 
                        {% if  session['username'] in ocjena.useri %}
                            <strong> Već ste ocjenili ovaj OPG</strong>
                        {% endif %}
                        {% if session['username'] not in ocjena.useri %}
                            <p>Ocjenite centar ocjenom od 1 do 5</p>
                            <p>{{centar._id}}</p>
                            <input type="number" id="ocjena" name="ocjena">
                        {% endif %}
                    {% endif %} 
                {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                      {% for ocjena in ocjene %}
                          {% if ocjena.id == centar._id %} 
                              {% if session['username'] not in ocjena.useri %}
                                <input type="submit" class="btn btn-primary" value="Ocijeni centar" id="down"></input>
                              {% endif %}
                          {% endif %} 
                      {% endfor %}
                  </div>
                </div>
              </form>
              </div>
            </div>
                <tr>
                    <td><img class="rounded-circle account-img" src="{{url_for('static', filename='images/' + centar.picture)}}"></td>
                    <td><a href="{{url_for('admin.korisnik', korisnik = centar.username, tip = centar.type)}}">{{centar.username}}</a></td>
                    <td>{{centar.type}}</td>
                    <td>{{centar.oib}}</td>
                    <td>{{centar.adress.zupanija}}</td>
                    {% for ocjena in ocjene %}
                        {% if ocjena.username == centar.username %}
                          <td>{{ocjena.avg}}</td>
                        {% endif %}
                    {% endfor %}                  
                    <td>
                      <button type="button" class="btn btn-secondary" id="uredi" data-toggle="modal" data-target="#ocjeniModal{{ centar._id }}">Ocijeni</button>
                    </td>
                    <td><a href="{{url_for('admin.racun', user = centar._id)}}">Uredi</a></td>
                    <td><a onclick="stisnut()" href="{{url_for('admin.posaljiPoruku', korisnik = centar.username)}}"> Pošalji poruku</a></td>
                </tr>   
            {% endfor %}
        </tbody>
      </table>
{% endblock %}