{% extends "layout.html" %}
{% block body %}
    <div class="main_content">
      <div class="container">
<div class="row">
  <h1>KORISNIK : {{korisnik}}, tip: {{tip}}</h1>
  {% if oglasi %}
  <div class="col">
    <h2>Zarađeno: {{novac}} kuna</h2>
    <h3>Ukupno prodanih oglasa: {{brojac}}</h3>
    <h4>Prosječni prihod po oglasu : {{(novac / brojac)|round(2, 'floor') }} kuna</h4>
    <h3>Koliko puta se koji proizvod prodao</h3>
    <canvas id="piechart" width="600" height="400"></canvas>
  </div>
  <div class="col">
    <canvas id="chart" width="600" height="400"></canvas>
  </div>
  <div class="col">
    <canvas id="bachart" width="600" height="400"></canvas>
  </div>
  {% else %}
    <h2>Ovaj korisnik nema obavljenih poslova</h2>
  {% endif %}

</div>
        
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
        var pieData = [
        {% for item, label, colors in set %}
          {
            value: {{item}},
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
      ];

      // get bar chart canvas
      var pieChartchart = document.getElementById("piechart").getContext("2d");
      steps = 3
      max = {{ max }}

      // draw pie chart
      new Chart(document.getElementById("piechart").getContext("2d")).Pie(pieData);
//-------------------------------------------------------------------------------------------------------------
       // bar chart data
       // bar chart data
       var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
          data : [
            {% for item in values %}
               {{ item }},
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     // draw bar chart
     new Chart(document.getElementById("chart").getContext("2d")).Bar(barData);

     var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
          data : [
            {% for item in uk %}
               {{ item }},
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     // draw bar chart
     new Chart(document.getElementById("bachart").getContext("2d")).Bar(barData);

</script>
{% endblock %}