{% extends "layout.html" %}
{% block login %}
       <div class="wrapper fadeInDown">
            <div id="formContent">
          
              <div class="fadeIn first">
                <img src="{{url_for('static', filename='images/logo.png')}}" id="icon" alt="User Icon" />
              </div>
          
              <form method=POST action="">
                {{form.csrf_token}}
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                      {% for category, message in messages %}
                          <div class="alert alert-{{category}}">
                              {{message}}
                          </div>
                      {% endfor %}
                  {% endif %}
                {% endwith %}
                {% if form.korisnicko_ime.errors %}
                    {{ form.korisnicko_ime(id="login", class="fadeIn second", placeholder="Korisničko ime") }}
                    <div class="invalid-feedback">
                        {% for error in form.korisnicko_ime.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.korisnicko_ime(id="login", class="fadeIn second",  placeholder="Korisničko ime") }}
                {% endif %}

                {% if form.password.errors %}
                    {{ form.password(id="password", class="fadeIn third",  placeholder="Lozinka") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(id="password", class="fadeIn third", placeholder="Lozinka") }}
                {% endif %}

                {{form.submit(id="prijava", class="fadeIn fourth", value="Prijavi se") }}
              </form>
                        <div id="formFooter">
                            <a class="underlineHover" href="{{url_for('users.zahtjev')}}">Nemate račun? Pošaljite zahtjev za stvaranjem računa!</a>
                        </div>
          
            </div>
          </div>
{% endblock %}
