{% extends "layout.html" %}
{% block body %}
<div class="modal fade" id="dodajNoviProizvodModal" tabindex="-1" role="dialog" aria-labelledby="dodajNoviProizvodModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="" method=POST>
        <div class="modal-header">
          <h5 class="modal-title" id="dodajNoviProizvodModalLabel">Dodaj novi proizvod</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{form.csrf_token}}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.naziv.label(class="form-control-label") }}
                    {% if form.naziv.errors %}
                        {{ form.naziv(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.naziv.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.naziv(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group">
                   {{ form.tip.label(class="form-control-label") }}
                   {% if form.tip.errors %}
                   {{ form.tip(class="form-control is-invalid") }}
                   <div class="invalid-feedback">
                       {% for error in form.tip.errors %}
                           <span>{{error}}</span>
                       {% endfor %}
                   </div>
               {% else %}
                   {{ form.tip(class="form-control ") }}
               {% endif %}
               </div>
               <div class="form-group">
                {{ form.slika.label(class="form-control-label") }}
                {% if form.slika.errors %}
                    {{ form.slika(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.slika.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.slika(class="form-control ") }}
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
          <input type="submit" class="btn btn-primary" value="Dodaj proizvod">
        </div>
        </form>
      </div>
    </div>
</div>
<button type="button" class="btn btn-success" id="dodaj" data-toggle="modal" data-target="#dodajNoviProizvodModal">Dodaj novi proizvod</button>
<br><br>
<table class="table" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Naziv proizvoda</th>
        <th scope="col">Vrsta proizvoda</th>
        <th scope="col">Slika proizvoda</th>
        <th scope="col">Količina prodana</th>
        <th scope="col">Uredi</th>
      </tr>
    </thead>
    <tbody id="gable">
    </tbody>
  </table>
{% endblock %}

{% block script %}

<script> 
    let main = document.getElementById('main');
    let tablica = document.getElementById('gable');
    fetch('/proizvodi').then(function(response){
    response.json().then(function(data) {
        for (let res of data.result) {
            var div = document.createElement('div');
            div.innerHTML = `<div class="modal fade" id="urediModal${res.id}" tabindex="-1" role="dialog" aria-labelledby="urediModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action='http://localhost:5000/uredi_proizvod/${res.id}'" method=POST>
                    <div class="modal-header">
                    <h5 class="modal-title" id="urediModalLabel">Uredi proizvod</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <fieldset class="form-group">  
                            <div class="form-group">
                                <label for="naziv" class="form-control-label">Naziv: </label> <br>
                                <input type="text" class="form-control" name="naziv" id="name${res.naziv}" value="${res.naziv}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="vrsta">Vrsta: </label> <br>
                                ${res.type == 'voće' ? `<input type="radio" id="povrće" name="vrsta" value="povrće">
                                    <label for="povrće">povrće</label>
                                    <input type="radio" id="voće" name="vrsta" value="voće" checked="true">
                                    <label for="opg">voće</label><br>` : 
                                    `<input type="radio" id="povrće" name="vrsta" value="povrće" checked="true">
                                    <label for="povrće">povrće</label>
                                    <input type="radio" id="voće" name="vrsta" value="voće" >
                                    <label for="voće">voće</label><br>`}
                        </div>
                        <div class="form-group">
                            <label for="slika" class="form-control-label">Slika: </label> <br>
                            <input type="text" class="form-control" name="slika" id="photo" value="${res.slika}">
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                    <input type="submit" class="btn btn-primary" value="Ažuriraj proizvod">
                    </div>
                    </form>
                </div>
                </div>
            </div>`;
            var tr = document.createElement('tr');
            tr.innerHTML = 
            '<td>' + res.naziv + '</td>' +
            '<td>' + res.tip + '</td>' +
            '<td> <img src=' + res.slika + ' class="proizvod" alt=""></td>' +
            '<td>' + res.total + '</td>' +
            '<td>' + '<button type="button" class="btn btn-primary" id="uredi" data-toggle="modal" data-target="#urediModal' 
            + res.id + '"' + '>Uredi proizvod</button></td>';
            tablica.appendChild(tr);
            main.appendChild(div);
        }
    });
});</script>
{% endblock %}
