* {
  box-sizing:border-box;
}

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    font-family: "Poppins", sans-serif;
    /* height: 100vh;
    width: 100vw; */
    /* background: url("../images/pozadina.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  }
  
  
  .sidebar{
    height: 100%;
    background: #7fd657;
    padding: 30px 0px;
    width: 10%;
    position: relative;
    float:left;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
   .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
   .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    list-style: none;
  }    
  
   .sidebar ul li a{
    color: #ffffff;
    display: block;
  }

  .sidebar ul li a #down{
    margin-left: 50px;
    display: block;
  }
  
   .sidebar ul li a .fas{
    width: 25px;
  }
  
   .sidebar ul li:hover{
    background-color: #594f8d;
  }
      
   .sidebar ul li:hover a{
    color: #fff;
  }
  
   .main_content{
    float: right;
    width: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
   .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
  }
  
   .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
   .main_content .info div{
    margin-bottom: 20px;
  }

  button a {
    color: white;
    text-decoration: none;
  }

  button a:hover {
    color: white;
    text-decoration: none;
  }

  a {
    color: #7fd657;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: red;
}

  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #7fd657;
  }
  
  ul {
    list-style-type: none;
}

  .right {
    float: right;
    width: 5%;
  }
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #7fd657;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  #formContent input[type=button],
  #formContent input[type=submit],
  #formContent input[type=reset]  {
    background-color: #7fd657;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  #formContent input[type=button]:hover, 
  #formContentinput[type=submit]:hover,
  #formContent input[type=reset]:hover  {
    background-color: #7fd657;
  }
  
    #formContent input[type=button]:active, 
    #formContent input[type=submit]:active,
    #formContent input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  #formContent input[type=text],
  #formContent input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  #formContent input[type=text]:focus,
  #formContent input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #7fd657;
  }
  
  #formContent input[type=text]:placeholder,
  #formContent input[type=password]:placeholder {
    color: #cccccc;
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #98e055;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }

  .proizvod{
    height: 90px;
    width: 120px;
  }

  .unos{
    width:45px; 
  }

  .slova{
    position: relative;
  }

  span.fa-comment {
    position: absolute;
    font-size: 0.6em;
    top: -4px;
    color: red;
    right: -4px;
  }
  span.brojOglasa {
    position: relative;
    font-size: 0.3em;
    top: 1px;
    color: #fff;
    right: 2px;
  }

  .upper {
    margin-bottom: 10px;
  }

  .levo {
    margin-left: 750px;
  }
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
/* 
  #piechart,
  #chart,
  #bachart{
    width: 600px;
    height:400px;
  } */
  .custom-menu {
    margin-right: -80px; }

    #sidebar.active {
      margin-left: -220px; }
      #sidebar.active .custom-menu {
        margin-right: -80px; }

  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    #sidebar .custom-menu .btn {
      width: 40px;
      height: 40px;
      border-radius: 50%; }
      #sidebar .custom-menu .btn.btn-primary {
        background: #5fac3c;
        border-color: #5fac3c; }
        #sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
          background: #5fac3c !important;
          border-color: #5fac3c !important; }

  @media screen and (max-width:800px) {
    .levo {
      margin-left: 0;
      background-color: lightgray;
    }
    html, body {
      max-width: 100%;
      overflow-x: scroll;
    }
    #piechart{
      width: 400px;
      height:250px;
    } 
    #chart,
    #bachart{
      width: 330px;
      height:235px;
    }
    .main_content {
      width: 100%;
      padding:5px;
    }
    #sidebar {
      height: 100%;
      width: 75%; 
    }
    #sidebar.active {
        position: fixed;
        margin-left: -85%; }
      #sidebar .custom-menu {
        margin-right: -30% !important;
        top: 10px !important; }
    #sidebar.active .custom-menu {
        margin-right: -30% !important;
        top: 10px !important; 
    }
        #sidebarCollapse span {
          display: none; } 
      }
